body {
    margin: 0;
    font-family: 'Times New Roman', serif;
}
header {
    background-color: #000000;
    padding: 1.2em 0;
    text-align: center;
}
footer {
    background-color: #777777;
    padding: 1.1em 0;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
}
nav a {
    text-decoration: none;
    color: #ffffff;
}
nav a:hover {
    text-decoration: none;
    color: #bbbbff;
}
main {
    text-align: justify;
    padding: 0.6em;
}
main a:visited {
    color: blue;
}
h1 {
    font-size: 1.16em;
    margin: 1em 0;
    text-align: center;
}
h2 {
    font-size: 1.08em;
    margin: 1em 0 0.8em 0;
}
h3 {
    font-size: 1em;
    margin: 0.8em 0 0.8em 0;
}
p, ul, ol {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}
ul ul, ul ol, ol ul, ol ol {
    margin-top: 0;
    margin-bottom: 0;
}
img {
    border: 1px solid #000000;
    border-radius: 3px;
    display:block;
    margin:auto;
    max-width: 100%;
    height: auto;
}



.container {
    max-width: 800px;
    min-height: 100vh;
    margin: auto;
}
.pageheading {
    display: block;
    font-size: 2em;
    margin: 0.67em 0;
    font-weight: bold;
    color: #ffffff;
}
.paraheading {
    font-weight: bold;
    margin-right: 1em;
}
.mybox {
    background-color: #f0f0f0;
    border: 1px solid #000000;
    border-radius: 3px;
    padding: 0em 0.6em;
    margin: 1em 0;
}
.mybox ul {
    margin-top: -0.4em;
}
.cpyrt {
    color: #ffffff;
    margin-top: 1.2em;
    margin-bottom: 0em;
    font-size: 80%;
}
.mycap {
    text-align: center;
    width: 80%;
    margin-top: 0.6em;
    margin-bottom: 0.8em;
    margin-left: 10%;
    margin-right: 10%;
    color: #a4a4a4;
    font-size: 0.9em;
}



.tile {
    display: flex;
    flex-direction: row;
    background-color: #fcfcfc;
    margin: 0.8em 0;
    padding: 0.6em;
}
.tile-picture {
    padding: 0 0.6em 0 0;
    flex: 21%;
}
.tile-picture img {
    width: 100%;
    margin: auto;
    margin-top: 0;
}
.tile-text {
    text-align: justify;
    padding: 0;
    flex: 79%;
}
.tile-text p {
    margin: 0;
}



.flip-box {
    background-color: transparent;
    width: 200px;
    height: 200px;
    margin: auto;
}
.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}
.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-box-back {
    transform: rotateY(180deg);
}



/* @media (min-width: 500px) {
    nav {
        flex-direction: row;
    }
} */
@media (max-width: 600px) {
    html {
        font-size: 90%;
    }
    .tile {
        flex-direction: column;
    }
    .tile-picture {
        padding: 0 0 0.6em 0;
    }
    .tile-picture img {
        max-width: 200px;
        max-height: 160px;
        width: auto;
        height: auto;
    }
    /* nav {
        flex-direction: column;
        https://www.w3schools.com/howto/howto_css_dropdown.asp
    } */
}