body {
    margin: 0;
    font-family: 'Times New Roman', serif;
}
.container {
    max-width: 900px;
    margin: auto;
}
header {
    background-color: #000000;
    padding: 1.2em 0;
    text-align: center;
}
footer {
    background-color: #777777;
    padding: 1em 0;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
}
nav a {
    text-decoration: none;
    color: #ffffff;
}
nav a:hover {
    text-decoration: none;
    color: #bbbbff;
}
main {
    text-align: justify;
    padding: 0.6em;
}
h2 {
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
}
h3 {
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
}
.pageheading {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #ffffff;
}
.essayheading {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-align: center;
}
img {
    border: 1px solid #000000;
    display:block;
    margin:auto;
    max-width: 100%;
    height: auto;
}
.mybox {
    border: 1px solid #000000;
    padding-right: 0.6em;
    padding-left: 0.6em;
}
.cpyrt {
    color: #ffffff;
    margin-top: 1.2em;
    margin-bottom: 0em;
    font-size: 80%;
}
.mycap {
    text-align: center;
    width: 80%;
    margin-top: 0.6em; 
    margin-left: 10%;
    margin-right: 10%;
    color: #a4a4a4;
    font-size: 0.9em;
}
/* Desktop: stack nav links horizontally */
@media (min-width: 500px) {
    nav {
        flex-direction: row;
    }
}
/* Mobile: stack nav links vertically */
@media (max-width: 600px) {
    html {
        font-size: 90%;
    }
    nav {
        flex-direction: row;
    }
}