<nav>

    <a href="/blog/">&lt; Blog</a>

    {% if page.title == 'Mathematics Articles' %}
        <a class="fake-nav-link">
    {% else %}
        <a href="/blog/mathematics.html">
    {% endif %}
        Mathematics</a>
    
    {% if page.title == 'Philosophy Articles' %}
        <a class="fake-nav-link">
    {% else %}
        <a href="/blog/philosophy.html">
    {% endif %}
        Philosophy</a>
    
    {% if page.title == 'Other Articles' %}
        <a class="fake-nav-link">
    {% else %}
        <a href="/blog/other.html">
    {% endif %}
        Other</a>
    
</nav>