{% if page.showTitle %}

    <div class="content-heading">
        <h1>{{ page.title }}</h1>
    </div>

{% elsif page.collection == "projects" %}

    <div class="content-heading">
        <h1>{{ page.title }}</h1>
        <p class="content-meta">
            {{ page.duration }} &middot; {{ page.association }}
        {% if page.location %}
            &middot; {{ page.location }}
        {% endif %}
        </p>
    </div>
    <div class="mybox" id="metaBox">
        <ul>
        {% if page.collaborators %}
            <li>
                Collaborators:
                {% for name in page.collaborators %}
                    {% if forloop.last %}
                        {{ name }}
                    {% else %}
                        {{ name }},
                    {% endif %}
                {% endfor %}
            </li>
        {% endif %}
            <li>
                Topics:
                {% for topic in page.topics %}
                    {% if forloop.last %}
                        {{ topic }}
                    {% else %}
                        {{ topic }},
                    {% endif %}
                {% endfor %}
            </li>
        {% if page.links %}
            <li>
                Links:
                {% for item in page.links %}
                    {% if forloop.last %}
                        <a href="{{ item.url }}">{{ item.text }}</a>
                    {% else %}
                        <a href="{{ item.url }}">{{ item.text }}</a>,
                    {% endif %}
                {% endfor %}
            </li>
        {% endif %}
        </ul>
    </div>

{% elsif page.collection == "courses" %}

    <div class="content-heading">
        <h1>{{ page.title }}</h1>
        <p class="content-meta">
            {{ page.institution }} &middot; {{ page.semester }}
        </p>
    </div>
    <div class="mybox" id="metaBox">
        <ul>
            <li>Academic calendar: <a href="{{ page.calendar }}">{{ page.calendar }}</a></li>
        {% if page.workload %}
            <li>Workload: {{ page.workload }}</li>
        {% endif %}
        {% if page.difficulty %}
            <li>Difficulty: {{ page.difficulty }} /10</li>
        {% endif %}
        {% if page.interest %}
            <li>Interest: {{ page.interest }} /10</li>
        {% endif %}
            <li>
                Topics:
                {% for topic in page.topics %}
                    {% if forloop.last %}
                        {{ topic }}
                    {% else %}
                        {{ topic }},
                    {% endif %}
                {% endfor %}
            </li>
        </ul>
    </div>

{% elsif page.collection == "myposts" %}

    <div class="content-heading">
        <h1>{{ page.title }}</h1>
        <p class="content-meta">
            {% for tag in page.tags %}
                <a href="/blog/{{ site.data.blogTags.tag.group }}/#{{ tag }}">
                    {{ site.data.blogTags.tag.title }}</a>
                {% if forloop.last == false %}
                    &middot;
                {% endif %}
            {% endfor %}
        </p>
        <p class="content-meta">
            {{ page.date | date: "%B %d, %Y" }} &middot; {{ page.wordcount }} words
        </p>
    </div>
    {% if page.context or page.prerequisites or page.alsoAt or page.updatedAt %}
        <div class="mybox" id="metaBox">
            <ul>
            {% if page.context %}
                <li>{{ page.context }}</li>
            {% endif %}
            {% if page.prerequisites %}
                <li>{{ page.prerequisites }}</li>
            {% endif %}
            {% if page.alsoAt %}
                <li>Also at: <a href="{{ page.alsoAt }}">{{ page.alsoAt }}</a></li>
            {% endif %}
        {% if page.updatedAt %}
            {% assign mypost = site.myposts | where: "slug", page.updatedAt | first %}
            {% if mypost %}
                <li>Updated at: <a href="{{ mypost.url }}">{{ mypost.title }}</a></li>
            {% endif %}
        {% endif %}
            </ul>
        </div>
    {% endif %}

{% else %}

    <h1 style="display:none;">{{ page.title }}</h1>

{% endif %}