* {
    box-sizing: border-box;
}



html {
    margin: 0;
}
body {
    margin: 0;
    font-family: 'Times New Roman', serif;
    width: 100%;
    line-height: 1.3;
}
main {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 1em;
    text-align: justify;
}
h1, h3 {
    text-align: center;
    line-height: 1.1;
}
h2 {
    line-height: 1.1;
}
a {
    color: black;
}
a.normal {
    color: #1559ff;
}
a.normal:visited {
    color: #3f59ff;
}



blockquote {
    display: table;
    max-width: 84%;
    margin: 4em auto;
    padding: 1em 1.5em;
    border-left: 12px solid #aaaaaa;
    background-color: #cccccc;
}
blockquote p {
    margin: 0.5em 0;
}
iframe {
    border: 1px solid black;
    width: 100%;
    height: 100vw;
    max-width: 40vh;
    max-height: 50%;
    margin: 1em auto;
    display: block; /* Removes the bottom inline gap */
}



@media (max-width: 600px) {
    /* html {
        font-size: 95%;
    } */
    main {
        text-align: left;
    }
}