* {
    box-sizing: border-box;
}



html {
    margin: 0;
}
body {
    margin: 0;
    font-family: 'Times New Roman', serif;
    width: 100%;
}
main {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 1em;
    text-align: justify;
}
h1, h3 {
    text-align: center;
}
a {
    color: black;
}
a.normal {
    color: #1559ff;
}
a.normal:visited {
    color: #3f59ff;
}



blockquote {
    display: table;
    max-width: 84%;
    margin: 4em auto;
    padding: 1.5em;
    border-left: 12px solid #aaaaaa;
    background-color: #cccccc;
}



@media (max-width: 600px) {
    html {
        font-size: 90%;
    }
}