---
title: Book Recommendations
description: Books I have read and liked, .......................................
date: 2008-06-25
---

<div class="mybox" id="tocBox"></div>
<p>
    For books not originally in English but <em>do</em> have English translations,
    I included both the English and the original title.
    For those that do <em>not</em> have an English translation,
    I simply listed the original title.
    Also, for some books I included the Taiwanese title as well,
    just for my own reference.
</p>
<p>
    (Again, there are <em>many</em> others not listed here yet.
    These are just the ones I can think of right now.)
</p>

{% for section in site.data.bookLists %}
    <h2 id="{{ section.id }}">{{ section.title }}</h2>
    <!-- {% if section.intro %}
        <p>{{ section.intro }}</p>
    {% endif %} -->
    <ul>
    {% for b in section.books %}
        <li>
            {% if b.title and b.latOrTitle %}
                <a href="{{ b.url }}">{{ b.title }} (<i>{{ b.latOrTitle }}</i>)
                    &mdash; {{ b.author }} ({{ b.year }})</a>
            {% elsif b.title and b.zhOrTitle %}
                <a href="{{ b.url }}">{{ b.title }} (<i>{{ b.zhOrTitle }}</i>)
                    &mdash; {{ b.author }} ({{ b.year }})</a>
            {% elsif b.title %}
                <a href="{{ b.url }}">{{ b.title }}
                    &mdash; {{ b.author }} ({{ b.year }})</a>
            {% elsif b.latOrTitle %}
                <a href="{{ b.url }}"><i>{{ b.latOrTitle }}</i>
                    &mdash; {{ b.author }} ({{ b.year }})</a>
            {% elsif b.zhOrTitle %}
                <a href="{{ b.url }}"><i>{{ b.zhOrTitle }}</i>
                    &mdash; {{ b.zhAuthor }} ({{ b.year }})</a>
            {% endif %}
            {% if b.author and b.zhAuthor %}
                <span lang="zh-Hant">{{ b.zhAuthor }}</span>
            {% endif %}
            {% if b.zhTitle %}
                <span lang="zh-Hant">&#12298;{{ b.zhTitle }}&#12299;</span>
            {% endif %}




            <a href="{{ b.url }}">{{ m.author }} ({{ m.year }}).
                {% if m.lang %}[{{ m.lang }}]{% endif %}
            </a>&ensp;<span lang="zh-Hant">{{ m.zh }}</span>
        </li>
    {% endfor %}
    </ul>
{% endfor %}

- has english version
-   has lat original title
-   has zh original title
-   no original title
- no english version
-   originally in latin characters
-   originally in zh characters

- English Title (<i>Original Title</i>) &mdash; Author (Year) Zhong Wen Author&#12298;Zhong Wen Title&#12299;
- English Title (<i>Original Title</i>) &mdash; Author (Year)
- <i>Original Title</i> &mdash; (Original) Author (Year) Zhong Wen Author&#12298;Zhong Wen Title&#12299;
- <i>Original Title</i> &mdash; (Original) Author (Year)
- <i>Zhong Wen Title</i> &mdash; Zhong Wen Author (Year)

- title
- latOrTitle
- zhOrTitle
- zhTitle (no zhTitle if there is already zhOrTitle)
- author (always romanized)
- zhAuthor
- year


<h2 id="eastern-literature">Eastern Literature</h2>
<ul>
    <li>Natsume S&omacr;seki (1914). <i>Kokoro.</i></li>
    <li>...</li>
</ul>

<h2 id="western-literature">Western Literature</h2>
<ul>
    <li>Proofs from THE BOOK</li>
    <li>...</li>
</ul>