---
title: Book Recommendations
description: Books I have read and liked, .......................................
date: 2008-06-25
---

<p>
    For books not originally in English but <em>do</em> have English
    translations, I included both the English and the original title.
    For those that do <em>not</em> have an English translation,
    I simply listed the original title.
    Also, where relevant, I included the Taiwanese title
    for some books as well, just for my own reference.
</p>
<div class="mybox" id="tocBox"></div>

{% for section in site.data.bookLists %}
    <h2 id="{{ section.id }}">{{ section.title }}</h2>
    <!-- {% if section.intro %}
        <p>{{ section.intro }}</p>
    {% endif %} -->
    <ul>
    {% for b in section.books %}
        <li>
            {% if b.title and b.latOrTitle %}
                {{ b.title }} (<i>{{ b.latOrTitle }}</i>) &mdash; Author (Year)
            {% elsif b.title and b.zhOrTitle %}
            {% elsif b.title %}
            {% elsif b.latOrTitle %}
            {% elsif b.zhOrTitle %}
            {% endif %}
            {% if b.zhTitle %}
            {% endif %}




            <a href="{{ b.url }}">{{ m.author }} ({{ m.year }}).
                {% if m.lang %}[{{ m.lang }}]{% endif %}
            </a>&ensp;<span lang="zh-Hant">{{ m.zh }}</span>
        </li>
    {% endfor %}
    </ul>
{% endfor %}


- has english version
-   has lat original title
-   has zh original title
-   no original title
- no english version
-   originally in latin characters
-   originally in hant characters

- always: zhAuthor (could be nil)
- if applicable (only when no zhOrTitle): [zhTitle]

- English Title (<i>Original Title</i>) &mdash; Author (Year) Zhong Wen Author&#12298;Zhong Wen Title&#12299;
- <i>Original Title</i> &mdash; Author (Year) Zhong Wen Author&#12298;Zhong Wen Title&#12299;
- <i>Zhong Wen Title</i> &mdash; Zhong Wen Author (Year)



<h2 id="eastern-literature">Eastern Literature</h2>
<ul>
    <li>Natsume S&omacr;seki (1914). <i>Kokoro.</i></li>
    <li>...</li>
</ul>

<h2 id="western-literature">Western Literature</h2>
<ul>
    <li>Proofs from THE BOOK</li>
    <li>...</li>
</ul>