---
title: Book Recommendations
description: Books I have read and liked.
date: 2008-06-25
---

<p>
    Within each section, the order in which the books appear in the list is roughly
    the order in which I read them. In some cases, this also roughly corresponds to
    the order of difficulty&mdash;from easy to advanced, e.g. for the math books.
</p>
<div class="mybox" id="tocBox"></div>
<p>
    There are only a limited number of books presented here because this is a list of
    books I have read (and that I remember). Certainly there are many other great books.
</p>
<p>
    For books that <em>are</em> in English or have English translations, I listed
    the English title (and sometimes included the Chinese title for my own reference).
    Whereas for books that do <em>not</em> have an English version&mdash;meaning
    I must have read them in Chinese&mdash;I listed the Chinese title.
</p>

{% for section in site.data.bookLists %}
    <h2 id="{{ section.id }}">{{ section.title }}</h2>
    <!-- {% if section.intro %}
        <p>{{ section.intro }}</p>
    {% endif %} -->
    <ul>
    {% for b in section.books %}
        <li>
            <a href="{{ b.url }}">
                {%- if b.title -%}
                    {{ b.title }}
                {%- elsif b.zhTitle -%}
                    <span lang="zh-Hant">{{ b.zhTitle }}</span>
                {%- endif %}
                &mdash;
                {% if b.author %}
                    {{ b.author }}
                {% elsif b.zhAuthor %}
                    <span lang="zh-Hant">{{ b.zhAuthor }}</span>
                {% endif %}
                ({{ b.year }})</a>
            {% if b.orTitle %}
                <br>Originally: <i>{{ b.orTitle }}</i>
            {% endif %}
            {% if b.author and b.zhAuthor and b.title and b.zhTitle %}
                <br><span lang="zh-Hant">{{ b.zhAuthor }}&#12298;{{ b.zhTitle }}&#12299;</span>
            {% elsif b.author and b.zhAuthor %}
                <br><span lang="zh-Hant">{{ b.zhAuthor }}</span>
            {% elsif b.title and b.zhTitle %}
                <br><span lang="zh-Hant">&#12298;{{ b.zhTitle }}&#12299;</span>
            {% endif %}
            </li>
    {% endfor %}
    </ul>
{% endfor %}

<!-- - has english version
-   has original title (in whatever language)
-   no original title
- no english version
-   originally in latin characters
-   originally in zh characters

- <i>English Title</i> [Originally: <i>Original Title</i>] &mdash; Author (Year) Zhong Wen Author&#12298;Zhong Wen Title&#12299;
- <i>English Title</i> [Originally: <i>Original Title</i>] &mdash; Author (Year) &#12298;Zhong Wen Title&#12299;
- <i>English Title</i> [Originally: <i>Original Title</i>] &mdash; Author (Year)
- <i>English Title</i> &mdash; Author (Year) Zhong Wen Author&#12298;Zhong Wen Title&#12299;
- <i>English Title</i> &mdash; Author (Year) &#12298;Zhong Wen Title&#12299;
- <i>English Title</i> &mdash; Author (Year)
- <i>Zhong Wen Title</i> [Originally: <i>Original Title</i>] &mdash; Author (Year) Zhong Wen Author
- <i>Zhong Wen Title</i> [Originally: <i>Original Title</i>] &mdash; Zhong Wen Author (Year)

- title (English title)
- orTitle (with span lang)
- zhTitle (only if orTitle not in zh-Hant)
- author (always romanized)
- zhAuthor
- year
- url -->