---
title: Mathematics Resources
description: Math-related external websites that I find useful.
date: 2005-06-25
---

<div class="mybox" id="tocBox"></div>

{% for section in site.data.resourceLists %}
    {% if section.group == 'math' %}
        <h2 id="{{ section.id }}">{{ section.title }}</h2>
        {% if section.intro %}
            <p>{{ section.intro }}</p>
        {% endif %}
        <dl>
        {% for l in section.links %}
            <dt>
                <a href="{{ l.url }}">{{ l.text }}</a>
                {% if l.mandarin %}(Mandarin){% endif %}
            </dt>
            {% if l.note %}<dd>{{ l.note }}</dd>{% endif %}
        {% endfor %}
        </dl>
    {% endif %}
{% endfor %}

<h2 id="latex">*LaTeX</h2>
<p>
    LaTeX-related resources are listed
    <a href="/extras/miscellaneous-resources/#latex">here</a>.
</p>
<h2 id="books">*Books</h2>
<p>
    Math books are listed
    <a href="/extras/book-recommendations/#mathematics">here</a>.
</p>