---
title: Miscellaneous Resources
description: Miscellaneous external websites that I find useful.
date: 2006-06-25
---

<div class="mybox" id="tocBox"></div>

{% for section in site.data.resourceLists %}
    {% if section.group == 'math' %}
        <h2 id="{{ section.id }}">{{ section.title }}</h2>
        {% if section.intro %}
            <p>{{ section.intro }}</p>
        {% endif %}
        <dl>
        {% for l in section.links %}
            <dt>
                <a href="{{ l.url }}">{{ l.text }}</a>
                {% if l.mandarin %}(Mandarin){% endif %}
            </dt>
            {% if l.note %}<dd>{{ l.note }}</dd>{% endif %}
        {% endfor %}
        </dl>
    {% endif %}
{% endfor %}

<h2 id="brother">*My brother's website</h2>
<p>
    Click <a href="https://jordanhong.com/">here</a> to see my brother's website.
    Probably not "useful," but I link it here anyways just for fun. &#128513;
</p>