---
title: Miscellaneous Resources
description: Miscellaneous external websites that I find useful.
date: 2006-06-25
---

<div class="mybox" id="tocBox"></div>

{% for section in site.data.resourceLists %}
    {% if section.group == 'misc' %}
        <h2 id="{{ section.id }}">{{ section.title }}</h2>
        {% if section.intro %}
            {{ section.intro | markdownify }}
        {% endif %}
        {% if section.links %}
            <ul>
            {% for l in section.links %}
                <li>
                    <a href="{{ l.url }}">{{ l.text }}</a>
                    {% if l.mandarin %}(Mandarin){% endif %}
                </li>
                {% if l.note %}<ul><li>{{ l.note }}</li></ul>{% endif %}
            {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
{% endfor %}