---
title: Movie Recommendations
description: Movies I have watched and liked, sectioned by moods and themes.
date: 2007-06-25
---

<p>
    As someone who <em>loves</em> watching movies, I always appreciate finding
    people's movie recommendation lists. As such, I present mine below,
    sectioned by moods and themes.
</p>
<div class="mybox" id="tocBox"></div>
<p>
    (There are <em>many</em> others not listed here yet.
    I am trying to make an exhaustive list of movies I have watched and liked,
    but there are only so many I can think of right now.)
</p>
<p>
    (Oh and if I were to choose my <em>one</em> favourite movie, it would be
    <a href="https://www.google.com/search?q=The+Legend+of+1900+(1998)">
    The Legend of 1900 (1998)</a>.)
</p>

{% for section in site.data.movieLists %}
    <h2 id="{{ section.id }}">{{ section.title }}</h2>
    {% if section.comments %}
        <p>{{ section.comments }}</p>
    {% endif %}
    <ul>
    {% for m in section.movies %}
        <li>
            <a href="{{ m.url }}">
                {{ m.en }}
                ({% if m.lang %}{{ m.lang }}, {% endif %}{{ m.year }})
            </a>
            &ensp;<span lang="zh-Hant">{{ m.zh }}</span>
        </li>
    {% endfor %}
    </ul>
{% endfor %}