---
title: Mathematics Articles
showTitle: true
description: These are my expository and reflective articles on mathematical ideas.
---

<div class="mybox" id="tocBox"></div>

{% for tag in site.data.blogTags %}
    {% if tag[1].group == "mathematics" %}
        <section>
            <h2 id="{{ tag[0] }}">{{ tag[1].title }}</h2>
            {% assign taggedPosts = site.myposts
                | where_exp: "post", "post.tags contains tag[0]" %}
            {% for post in taggedPosts %}
                <div class="h3-p-box">
                    <h3><a href="{{ post.url }}">{{ post.title }}
                        ({{ post.date | date: "%Y.%m.%d" }})</a></h3>
                    <p>{{ post.description }}</p>
                </div>
            {% endfor %}
        </section>
    {% endif %}
{% endfor %}