<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {% if page.title == 'Zhao-Ze Albert Hong' %}
        <title>Zhao-Ze Albert Hong</title>
    {% else %}
        <title>{{ page.title }} | ZZAlbert</title>
    {% endif %}
        
        <meta name="description" content="{{ page.description | default: site.description }}"/>
        <meta name="author" content="Albert Hong"/>

    {% if page.title == 'Zhao-Ze Albert Hong' %}
        <meta property="og:title" content="Zhao-Ze Albert Hong"/>
    {% else %}
        <meta property="og:title" content="{{ page.title }} | ZZAlbert"/>
    {% endif %}
        <meta property="og:image" content="https://zzalbert.com/assets/images/{{ page.ogImage }}"/>
        <meta property="og:description" content="{{ page.description }}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://zzalbert.com{{ page.url }}" />

        <link rel="icon" type="image/x-icon" href="/assets/images/logo.png">
        <link rel="stylesheet" href="/assets/css/default.css">
        <script defer src="/assets/js/basic.js"></script>
        
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/katex@0.17.0/dist/katex.min.css"
            integrity="sha384-vlBdW0r3AcZO/HboRPznQNowvexd3fY8qHOWkBi5q7KGgqJ+F48+DceybYmrVbmB"
            crossorigin="anonymous">
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.17.0/dist/katex.min.js"
            integrity="sha384-AtrdNsnxl/75rvBneBVH7DtOvCxSVahR2zWqle1coBKd8DEmLoviqNeJSx64gNAs"
            crossorigin="anonymous">
        </script>
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.17.0/dist/contrib/auto-render.min.js"
            integrity="sha384-bjyGPfbij8/NDKJhSGZNP/khQVgtHUE5exjm4Ydllo42FwIgYsdLO2lXGmRBf5Mz"
            crossorigin="anonymous"
            onload="renderMathInElement(document.body, {
                delimiters: [
                    {left: '$$', right: '$$', display: true},
                    {left: '$', right: '$', display: false}
                ],
                ignoredTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
            });">
        </script>

    </head>

    <body>

        <header>

            <div class="container">

                <h2 id="siteHeading"><a href="/">Zhao-Ze Albert Hong</a></h2>
                
                {% include nav.html option="header nav" %}

            </div>

        </header>

        <div class="container" style="flex:1;">

            {% include nav.html option="sub nav" %}

            <main>

                {% include content-heading.html %}

                {{ content }}

                {% include content-closure.html %}

            </main>

        </div>

        <footer>

            <div class="container">

                {% include nav.html option="footer nav" %}
                
                <p class="copyright">
                    Copyright &copy; {{ "now" | date: "%Y" }}, Zhao-Ze Albert Hong
                </p>
            
            </div>
            
        </footer>

        <button onclick="topFunction()" id="myBtn" aria-label="Go to top"
            title="Go to top">&#9650;Top</button>

    </body>

</html>