<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>{{ page.title }}</title>
{% if page.description %}
<meta name="description" content="{{ page.description }}">
{% endif %}
<meta name="author" content="Albert Hong">
<link rel="icon" type="image/x-icon" href="/images/favicon.png?v=2">
<link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="container" id="top">
{{ content }}
<footer>
    <nav>
        <a href="/">Home</a>
        <a href="/profile/">Profile</a>
        <a href="mailto:albert.hong@mail.utoronto.ca">Contact</a>
    </nav>
    <p class="cpyrt">Copyright &copy; 2025, Zhao-Ze Albert Hong</p>
</footer>
</div>
</body>
</html>
