---
layout: default
---

<header>
    <h2 class="pageheading"><a href="/">Zhao-Ze Albert Hong</a></h2>
    <nav>
        <a href="/extras/">{% if page.option == 'post' %}&lt;{% endif %}&lt; Extras</a>
        {% if page.option == 'resources' %}<a class="fake-nav-link">
            {% else %}<a href="/extras/resources.html">{% endif %}
            {% if page.option == 'post' %}&lt; {% endif %}Resources</a>
        {% if page.option == 'literature' %}<a class="fake-nav-link">
            {% else %}<a href="/extras/literature.html">{% endif %}
            {% if page.option == 'post' %}&lt; {% endif %}Literature</a>
        {% if page.option == 'testing' %}<a class="fake-nav-link">
            {% else %}<a href="/extras/testing.html">{% endif %}
            {% if page.option == 'post' %}&lt; {% endif %}Testing</a>
    </nav>
</header>

<main>
    {% if page.option == 'post' %}
        <article>
        <h1 style="margin-bottom:0.2em;">{{ page.heading }}</h1>
        {% if page.mydate %}
        <p style="margin-top:0; margin-bottom:1em; text-align:center;">{{ page.mydate }}</p>
        {% endif %}
        {{ content }}
        </article>
    {% else %}
        <h1 style="display:none;">{{ page.heading }}</h1>
        {{ content }}
    {% endif %}
</main>