---
layout: default
---

<header>
    <h2 class="pageheading"><a href="/">Zhao-Ze Albert Hong</a></h2>
    <nav>
        {% if page.option == 'home' %}<a class="fake-nav-link">
            {% else %}<a href="/">{% endif %}Home</a>
        {% if page.option == 'profile' %}<a class="fake-nav-link">
            {% else %}<a href="/profile/">{% endif %}Profile</a>
        {% if page.option == 'blog' %}<a class="fake-nav-link">
            {% else %}<a href="/blog/">{% endif %}Blog</a>
        {% if page.option == 'notes' %}<a class="fake-nav-link">
            {% else %}<a href="/notes/">{% endif %}Notes</a>
        {% if page.option == 'extras' %}<a class="fake-nav-link">
            {% else %}<a href="/extras/">{% endif %}Extras</a>
    </nav>
</header>

<main>
    <h1 style="display:none;">{{ page.heading }}</h1>
    {{ content }}
</main>