---
layout: default
---

<header>
    <h2 class="pageheading"><a href="/">Zhao-Ze Albert Hong</a></h2>
    <nav>
        <a href="/notes/">{% if page.option == 'post' %}&lt;{% endif %}&lt; Notes</a>
        {% if page.option == 'mathematics' %}<a class="fake-nav-link">
            {% else %}<a href="/notes/mathematics.html">{% endif %}
            {% if page.option == 'post' %}&lt; {% endif %}Mathematics</a>
        {% if page.option == 'philosophy' %}<a class="fake-nav-link">
            {% else %}<a href="/notes/philosophy.html">{% endif %}
            {% if page.option == 'post' %}&lt; {% endif %}Philosophy</a>
        {% if page.option == 'other' %}<a class="fake-nav-link">
            {% else %}<a href="/notes/other.html">{% endif %}
            {% if page.option == 'post' %}&lt; {% endif %}Other</a>
    </nav>
</header>

<main>
    {% if page.option == 'post' %}<h1>{{ page.heading }}</h1>
        <p style="margin-top:-0.4em; text-align:center;">{{ page.mydate }}</p>
        {% else %}<h1 style="display:none;">{{ page.heading }}</h1>{% endif %}
    {{ content }}
</main>