---
layout: default
---

<header>
    <h2 class="pageheading"><a href="/">Zhao-Ze Albert Hong</a></h2>
    <nav>
        <a href="/profile/">{% if page.option == 'post' %}&lt;{% endif %}&lt; Profile</a>
        <!-- {% if page.option == 'research' %}<a style="color:#bbbbff;">
            {% else %}<a href="/profile/research.html">{% endif %}
            {% if page.option == 'post' %}&lt; {% endif %}Research</a> -->
        {% if page.option == 'projects' %}<a style="color:#bbbbff;">
            {% else %}<a href="/profile/projects.html">{% endif %}
            {% if page.option == 'post' %}&lt; {% endif %}Projects</a>
    </nav>
</header>

<main>
    {% if page.option == 'post' %}<h1>{{ page.heading }}</h1>
        {% if page.mydate %}
        <p style="margin-top:-0.4em; text-align:center;">{{ page.mydate }}</p>
        {% endif %}
        {% else %}<h1 style="display:none;">{{ page.heading }}</h1>{% endif %}
    {{ content }}
</main>