---
title: Philosophy Courses
showTitle: true
description: |-
  Resources and course reviews for philosophy courses I have taken.
  For those who are taking or deciding whether to take these courses.
---

<p>
    <i>Disclaimer: There can be mistakes in my stuff.
    Be sure to verify things by yourself.</i>
</p>
<p>
    In case you were wondering, my course progress may look a bit unusual
    because I took several courses with prerequisite waivers.
</p>

{% for item in site.data.courseGroups %}
<h2>{{ item.title }}</h2>
<ul>
    {% for sem in item.semesters %}
        {% assign semCourses = site.courses
            | where: "semester", sem
            | where: "subject", "philosophy" %}
        {% for course in semCourses %}
            <li><a href="{{ course.url }}">{{ course.title }}</a></li>
        {% endfor %}
    {% endfor %}
</ul>
{% endfor %}